<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template com Grid CSS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <header class="item">Cabeçalho</header>
        <nav class="item">Menu</nav>
        <section class="item">Conteúdo: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam libero culpa delectus repellat nihil repellendus tenetur nostrum officiis id? Aut quibusdam quo eligendi sunt libero veniam, nemo asperiores doloremque itaque.</section>
        <footer class="item">Rodapé</footer>
        <div class="item ad">Anúncio</div>
    </div>
    
</body>
</html>