* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container {
    display: grid;
    background-color: black;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
    "header header header header"
    "menu menu content content"
    "ad ad content content"
    "footer footer footer footer"
    ;
}
.item {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 20px;
    font-weight: 500;
}
header {
    grid-area: header;
}
nav {
    grid-area: menu;
}
section {
    grid-area: content;
}
footer {
    grid-area: footer;
}
.ad {
    grid-area: ad;
}